@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
    background-color: #080314;
    width: 100%;
    margin: 0;
    display: block;
    font-family: 'Raleway', sans-serif;
}
#start{
    margin-top: 4rem;
}

.pfp{
    border-radius: 100%;
    width: 180px;
    border: 4px solid #8257e6;
    object-fit: cover;
}

p{
    color: #bbc6ce;
    font-size: 19px;
}

h1, h2, h3, h5{
    color: #fff;
}

li{
    color: #fff;
}

ins{
    text-decoration: none;
}

footer{
    color: #bbc6ce;
    font-size: 20px;
}

#icons{
    font-size: 3rem;
    text-align:center;
    margin:auto;
}

#devicon{
    font-size: 5rem;
    margin:auto;
    position: relative;
    display: inline-block;
}


i{
    color: #8257e6;
}

#devicon i:hover{
    color: #fff;
    transition-duration: 0.5s;
    font-size: 6rem;
}

#icons i:hover{
    color: #442E78;
    transition-duration: 0.1s;
}

@media only screen and (max-width: 992px) {
    .align-profile {
      display: none
    }
}   